/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
/*-----------------*/

/*Общая анатомия*/
/*
селектор {
	css параметр;
	css параметр;
	css параметр;
	css параметр;
}
*/
/*CSS параметр*/
/*
CSS свойство: значение свойства;
*/
/*Селектор № 1 - Селектор тега*/
p {
	/*Обратилист ко ВСЕМ тегам Р на странице*/
	color: green;
}

span {
	/*Обратились ко ВСЕМ тегам SPAN на странице*/
	color: red;
}

/*Селектор класса, начинается с .
 - наш основной селектор*/
/*
.имя класса{
	css параметр;
	....
	css параметр;
}*/

/*При использовании обоих классов с одинаковыми свойствами,
применятся значения последнего*/
.block {
	/*Обратились к объектам с классом block на странице*/
	color: blue;
}

.paragraph {
	/*Обратились к объектам с классом paragraf на странице*/
	color: tomato;
}
/*Селектор ID*/
/*
# имя id{
	css параметр;
	....
	css параметр;
}
*/
#message {
	color: rgb(15, 61, 61);
}

/*Приоритет с меньшего к большему*/

/*1. Порядок записи при равнозначных селекторах*/
p {
	color: red;
}
/*Этот приоритетней*/
p {
	color: yellowgreen;
}

.text__color {
	color: seagreen;
}
/*Этот приоритетней*/
.text__color-2 {
	color: seagreen;
}

/*УТОЧНЕНИЕ*/

/*2. Селектор класса приоритетней чем селектор тега*/

p {
	color: red;
}

.text__color {
	color: seagreen;
}

/*Селектор ID - самый приоритетный*/
#red {
	color: sienna;
}
.text__color {
	color: seagreen;
}
p {
	color: red;
}

/* 3. Уточняем обращением 
(комбинация селекторов)*/

/* Такая запись - комбинация селекторов */

/* Только все SPAN с классом text */
/*Приоритетней*/
span.text {
	color: springgreen;
}
.text {
	color: seagreen;
}

/* Комбинация селекторов классов */
/*Приоритетней всех комбинаций, но не ID. 
Чем больше классов, тем больше приоритет */
.text.green {
	color: green;
}

/* Вложенность и приоритетность*/

/* Приоритетность № 1*/
.text .item {
	color: yellowgreen;
}
/* Приоритетность № 2*/
.text span {
	color: royalblue;
}
/* Приоритетность № 3*/
p span {
	color: orange;
}
/* Приоритетность № 4*/
span {
	color: peru;
}

/* Инлайновый стиль будет иметь самый большой приоритет */

/* Прочие селекторы */

/* "*" Обращение ко ВСЕМ объектам */
/*
* {
	color: blueviolet;
}

.text * {
	color: burlywood;
}
*/

.paragraph {
	color: royalblue;
}
.text {
	color: violet;
}

/* Обращаемся и к .paragraph и к .text */
.paragraph,
.text {
	color: orchid;
}

/* Только первый уровень вложенности */
.text > span {
	color: red;
}
/*Обращаемся только к первому следующему объекту */
.text__item + p {
	color: rgb(78, 2, 78);
}

.text__item + * {
	color: rgb(78, 2, 78);
}
/* Обращаемся ко всем следующим объектам того же уровня*/
.text__item ~ p {
	color: rgb(78, 2, 78);
}
